#made-by {
    font-family: "Shadows Into Light", cursive;
    padding-right: 37px;
    margin-block: auto;
}
.navbar {
    background-color:#BFA6A1;
}
.container-fluid .nav-item {
    font-size: x-large;
    padding-left: 12px;
}
.navbar .nav-item a:hover {
    color: #3C9948;
}
.navbar .nav-item a:hover {
    transform: scale(1.4);
}
.container-fluid {
    margin-bottom: 15px;
}
#card-info .col-md-8 {
    background-color: #D8F9DA;
}
.card-cooking-steps img {
    width: 300px;
    height: 200px;
}
.card {
    margin-top: 100px;
    width: fit-content;
}
.card-title {
    font-family: "Shadows Into Light", cursive;
}
#cooking-step {
    padding-top: 15px;
}
.icons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.5rem;
}
#citat {
    font-family: "Shadows Into Light", cursive;
    text-align: center;
}
#health-info .container {
    background-color: #D8F9DA;
    border-radius: 20px;
}
#health-info ul li {
    background-color: #D8F9DA;
    border-style: outset;
    width: 75%;
}
.dropdown {
    padding: 10px;
}  
h2, h3 {
    font-family: "Shadows Into Light", cursive;
}
.container {
    padding-bottom: 25px;
}
/* .container {
    background-color: #D8F9DA;
} */
#fun-fact .container {
    background-color: #D8F9DA;
    border-radius: 20px;
}
#fun-fact {
    padding-top: 30px;
}
footer {
    background-color: #BFA6A1;
}
.footer-icons {
    display: flex;
    justify-content: space-evenly;
}
.footer-section {
    text-align: center;
    margin-top: 20px;
}
.col .footer-icons {
    font-size: x-large;
}
.col .footer-icons li a:hover {
    background-color: black;
}  
.footer-icons a:hover {
    color: #3C9948;
}
.footer-icons .nav-item {
    transition: transform 0.3s ease;
}
.footer-icons .nav-item:hover {
    transform: scale(1.5);
}







